@media (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768px (typical for mobile devices) */

  /* Example: Center align text on mobile */
  .div {
    text-align: center;
  }

  /* Example: Reduce font size on mobile */
  .div1 {
    font-size: 18px;
  }

  /* Example: Adjust spacing for mobile */
  .parent {
    flex-direction: column;
    gap: 20px;
  }

  /* Example: Make images responsive on mobile */
  .rectangle-icon {
    width: 100%;
    height: auto;
  }

  /* Add more responsive styles as needed for other elements */
}


.div {
  position: relative;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0;
}
.rectangle-icon {
  position: relative;
  width: 202.06px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}
.div1 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-futura);
  color: var(--color-gray-100);
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 334px;
}
.text {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
}
.button,
.button-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button {
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-header-navigation-tri {
  flex-direction: column;
  padding: var(--padding-9xs) 0;
  cursor: pointer;
}
.dropdown-header-navigation-tri,
.dropdown-header-navigation-tri1,
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropdown-header-navigation-tri1 {
  flex-direction: column;
  padding: var(--padding-9xs) 0;
}
.navigation {
  flex-direction: row;
  gap: var(--gap-45xl);
  color: var(--color-gray-100);
  font-family: var(--font-futura);
}
.container,
.content {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.content {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.container {
  overflow: hidden;
  flex-direction: row;
  padding: 24px 0 var(--padding-29xl);
  justify-content: center;
}
.divider-icon {
  position: relative;
  width: 1440px;
  height: 1px;
  display: none;
}
.dropdown-header-navigation {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--base-white);
}
.heading,
.subheading {
  position: relative;
  font-weight: 600;
}
.subheading {
  line-height: 24px;
  display: none;
}
.heading {
  align-self: stretch;
  letter-spacing: -0.02em;
  line-height: 110%;
}
.heading-and-action {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.supporting-text {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.content1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.container1,
.content1,
.heading-and-supporting-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-and-supporting-text {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
  font-size: 54px;
  color: var(--gray-900);
  font-family: var(--font-cormorant-garamond);
}
.container1 {
  width: 1280px;
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: 12px;
}
.header-section,
.line-pattern-icon {
  position: absolute;
  left: calc(50% - 720px);
}
.header-section {
  top: 248px;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-77xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--text-md-semibold-size);
  color: var(--primary-600);
  font-family: var(--text-md-semibold);
}
.line-pattern-icon {
  top: calc(50% - 678px);
  width: 2651px;
  height: 2651px;
  opacity: 0.05;
}
.a-journey-to,
.the-la-verita {
  position: relative;
  line-height: 100%;
  display: none;
}
.a-journey-to {
  font-size: var(--font-size-37xl);
  letter-spacing: 0.01em;
  line-height: 110%;
  font-weight: 600;
  font-family: var(--font-cormorant-garamond);
  color: var(--base-white);
  text-align: center;
  display: inline-block;
  width: 911px;
}
.the-la-verita-difference-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.content3 {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 4px;
  background-color: rgba(255, 202, 73, 0.5);
  filter: blur(29px);
  width: 551px;
  height: 949px;
}
.whatsapp-image-2023-09-08-at-4 {
  position: absolute;
  top: calc(50% - 480px);
  left: calc(50% - 280px);
  width: 560px;
  height: 960px;
  object-fit: cover;
}
.content2 {
  flex: 1;
  position: relative;
  height: 958px;
}
.candius-diallo {
  font-weight: 600;
  font-family: var(--font-cormorant-garamond);
}
.candius-diallo-is-a-visionary {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.lets-give-back {
  font-family: var(--font-cormorant-garamond);
}
.we-are-going-into-the-hearts {
  margin: 0;
}
.supporting-text1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 130%;
}
.candius-diallo1 {
  margin-block-start: 0;
  margin-block-end: 18px;
  font-size: 88px;
  font-family: var(--font-sassy-frass);
}
.supporting-text2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 120%;
  opacity: 0.89;
}
.heading-and-supporting-text1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.container2,
.heading-and-supporting-text1,
.icon-and-text {
  display: flex;
  justify-content: flex-start;
}
.icon-and-text {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.container2 {
  width: 1280px;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  gap: 96px;
}
.container-wrapper,
.frame-parent {
  display: flex;
  flex-direction: column;
}
.container-wrapper {
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-9xl);
  color: var(--base-white);
  font-family: var(--font-cormorant-garamond);
}
.frame-parent {
  position: absolute;
  top: calc(50% - 595px);
  left: calc(50% - 640px);
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.desktop-2 {
  position: absolute;
  top: 731px;
  right: 0;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 1356px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-goldenrod-100);
  font-family: var(--font-petit-formal-script);
}
.underline-icon {
  position: absolute;
  top: 43px;
  left: 90px;
  width: 186px;
  height: 20px;
}
.heading1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 44px;
  font-weight: 600;
  display: inline-block;
  width: 768px;
}
.heading-and-subheading {
  align-self: stretch;
  position: relative;
  height: 64px;
}
.supporting-text3 {
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 140%;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 1143px;
}
.container3,
.heading-and-supporting-text2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-and-supporting-text2 {
  align-self: stretch;
  gap: var(--gap-base);
}
.container3 {
  width: 1280px;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.paragraph {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.rich-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.this-led-to {
  font-family: var(--font-cormorant-garamond);
}
.this-led-to,
.which-is-now {
  font-weight: 500;
}
.paragraph1 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.content6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.container4,
.rich-text-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.container4 {
  width: 1280px;
  padding: 0 var(--padding-13xl);
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
.rich-text-section {
  position: absolute;
  top: 2087px;
  left: calc(50% - 720px);
  background-color: var(--base-white);
  width: 1440px;
  padding: var(--padding-61xl) 0 var(--padding-77xl);
  gap: var(--gap-45xl);
}
.underline-icon1 {
  position: absolute;
  top: 34px;
  left: 1033px;
  width: 186px;
  height: 20px;
}
.heading2 {
  position: absolute;
  top: 0;
  left: 448px;
  letter-spacing: -0.01em;
  line-height: 44px;
  font-weight: 600;
  display: inline-block;
  width: 768px;
}
.supporting-text4 {
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 120%;
  font-weight: 500;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 997px;
}
.heading-and-supporting-text3 {
  gap: var(--gap-base);
}
.content7,
.heading-and-supporting-text3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.container5 {
  width: 1280px;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-end;
}
.blog-post-card,
.container5,
.container6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container6 {
  width: 1280px;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
.blog-post-card {
  width: 312px;
  align-items: flex-start;
}
.a125c809-42e9-4691-9e12-e6873d-icon {
  position: relative;
  width: 384px;
  height: 284px;
  object-fit: cover;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
}
.rich-text-section1 {
  position: absolute;
  top: 2934px;
  left: calc(50% - 720px);
  background-color: var(--base-white);
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-61xl) 0 var(--padding-77xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  text-align: right;
}
.line-pattern-icon1 {
  position: absolute;
  top: calc(50% - 324px);
  left: calc(50% - 720px);
  width: 1548px;
  height: 1548px;
  opacity: 0.1;
}
.take-a-moment {
  margin-block-start: 0;
  margin-block-end: 48px;
}
.heading3 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.heading-and-badge {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.la-verita-is {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.supporting-text5 {
  position: relative;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 1110px;
}
.heading-and-supporting-text4 {
  gap: var(--gap-5xl);
}
.container7,
.content9,
.heading-and-supporting-text4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container7 {
  padding: 0 var(--padding-13xl);
  align-items: flex-start;
}
.text4 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.button-base4 {
  align-self: stretch;
  box-shadow: var(--shadow-xs);
  width: 132px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.actions,
.container-parent {
  display: flex;
  justify-content: flex-start;
}
.actions {
  border: 1px solid var(--color-goldenrod-100);
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-goldenrod-100);
  font-family: var(--font-futura);
}
.container-parent {
  position: absolute;
  top: calc(50% - 250.5px);
  left: calc(50% - 586.5px);
  flex-direction: column;
  align-items: center;
  gap: var(--gap-21xl);
}
.features-section {
  position: absolute;
  top: 3786px;
  left: calc(50% - 720px);
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 648px;
  overflow: hidden;
  text-align: center;
  color: var(--base-white);
}
.supporting-text6 {
  position: relative;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.01em;
  line-height: 100%;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 768px;
}
.heading-and-supporting-text5 {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.featured-icon {
  position: relative;
  border-radius: var(--br-9xl);
  width: 56px;
  height: 56px;
}
.supporting-text7,
.text5 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 30px;
  font-weight: 600;
}
.supporting-text7 {
  font-size: var(--font-size-xl);
  line-height: 110%;
  font-weight: 500;
  color: var(--color-darkslategray);
}
.text-and-supporting-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text6 {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  font-weight: 600;
}
.button4,
.contact-text,
.content11 {
  display: flex;
  justify-content: flex-start;
}
.button4 {
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-xl);
}
.contact-text,
.content11 {
  width: 520px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
}
.content11 {
  width: 1216px;
  height: 215px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-13xl);
  font-size: var(--font-size-5xl);
}
.social-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.social-icon,
.social-icon3 {
  position: relative;
  width: 32px;
  height: 32px;
}
.content12,
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.social-icons {
  gap: 50px;
}
.content12 {
  align-self: stretch;
}
.contact-page-header,
.container8 {
  display: flex;
  flex-direction: column;
  padding: 16px var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-page-header {
  position: absolute;
  top: 4434px;
  left: calc(50% - 720px);
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  overflow: hidden;
  padding: var(--padding-61xl) 0 var(--padding-77xl);
  box-sizing: border-box;
  align-items: center;
  gap: 48px;
  text-align: center;
}
.group-icon {
  position: relative;
  width: 160px;
  height: 79.18px;
}
.text9 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.content13,
.footer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content13 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: var(--gray-200);
  height: 1px;
}
.footer-text {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.footer-links1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.container10,
.content14 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.content14 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.container10 {
  width: 1280px;
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  font-size: var(--text-md-semibold-size);
  color: var(--gray-400);
}
.about-us,
.footer {
  background-color: var(--base-white);
}
.footer {
  position: absolute;
  top: 5104px;
  left: calc(50% - 720px);
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 64px 0 var(--padding-29xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  font-size: var(--font-size-lg);
  color: var(--gray-500);
  font-family: var(--font-futura);
}
.about-us {
  position: relative;
  width: 100%;
  height: 5371px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--gray-900);
  font-family: var(--font-cormorant-garamond);
}
