/* Media queries at the top of your CSS */

/* Media query for small screens (e.g., mobile phones) */
@media (max-width: 767px) {
  /* Adjust styles for small screens here */
  .container {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }
  .container1 {
    flex-direction: column;
    gap: 3rem;
  }
  .div, .text, .content, .text4, .contact-text, .content21, .container10, .content23, .divider, .footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .features-section1, .desktop-2, .container4, .features-section2, .container5, .content5, .button4, .content11, .container2, .light-accent-icon, .content2, .whatsapp-image-2023-09-08-at-4, .div1, .div3, .div4, .v, .text-and-supporting-text, .content6, .text10, .content12, .contact-page-header, .contact-text, .group-icon, .button-base4, .content, .content3, .container3, .content1, .content24, .footer-links, .footer, .footer-link {
    width: 100%; /* Make elements span the full width */
  }
  .icon-and-text, .icon-and-text3, .icon-and-text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/* Media query for medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Adjust styles for tablets here */
  .div, .text, .button, .text4, .button4, .content3, .contact-text, .container5, .content, .content24, .footer-links, .footer, .footer-link {
    align-items: center;
    justify-content: center;
  }
  .container, .container2, .features-section1, .features-section2, .desktop-2, .container1, .container4, .content1, .contact-page-header, .container10, .content23, .divider {
    flex-direction: row; /* Adjust container styles for tablets */
  }
  .features-section {
    text-align: left;
  }
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 1024px) {
  /* Adjust styles for desktops here */
}

/* Default styles for all screen sizes */
/* Your existing CSS code follows here */

.whatsapp-image-2023-09-08-at-4 {
  position: relative;
  top: 0;
  left: 0;
  width: 94.88rem;
  height: 59.69rem;
  object-fit: cover;
}
.div {
  position: relative;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0;
}
.rectangle-icon {
  position: relative;
  width: 100%; /* Adjust this percentage as needed */
  height: auto; /* Maintain the aspect ratio */
  max-width: 12.63rem; /* Set a maximum width if necessary */
  object-fit: cover;
}

.div1 {
  position: relative;
  font-size: 1.13rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Futura;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20.88rem;
}
.text {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
.button,
.button-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button {
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-header-navigation-tri {
  cursor: pointer;
}
.dropdown-header-navigation-tri,
.dropdown-header-navigation-tri3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25rem 0;
}
.navigation {
  flex-direction: row;
  justify-content: flex-start;
  gap: 4rem;
  font-family: Futura;
}
.container,
.content,
.navigation {
  display: flex;
  align-items: center;
}
.content {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5rem;
}
.container {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 90rem;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 1.5rem 0 3rem;
  box-sizing: border-box;
}
.subheading {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 1.5rem;
  font-weight: 500;
}
.your-journey-to {
  margin-block-start: 0;
  margin-block-end: 60px;
}
.here {
  margin: 0;
}
.heading {
  align-self: stretch;
  position: relative;
  font-size: 6.25rem;
  line-height: 100%;
  font-weight: 600;
}
.heading-and-subheading {
  width: 65.19rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}
.supporting-text {
  align-self: stretch;
  position: relative;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 1.88rem;
  font-weight: 500;
}
.heading-and-supporting-text {
  align-self: stretch;
  gap: 1.5rem;
}
.content1,
.heading-and-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.light-accent-icon {
  position: absolute;
  top: 9rem;
  right: -10rem;
  width: 80rem;
  height: 45rem;
  object-fit: cover;
  mix-blend-mode: screen;
}
.content2 {
  position: relative;
  background: linear-gradient(26.57deg, #1d2939, #344054);
  width: 6.81rem;
  height: 40rem;
  opacity: 0;
}
.container1,
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.container1 {
  height: 32.38rem;
  padding: 0 2rem;
  gap: 4rem;
}
.section {
  width: 90rem;
  padding: 2.5rem 0 5rem;
}
.header,
.hero-header-section {
  position: absolute;
  left: calc(50% - 720px);
  width: 90rem;
}
.header {
  top: 15.5rem;
  height: 41.13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 1.5rem;
}
.hero-header-section {
  top: 0;
  background-color: #fff;
  height: 56.63rem;
  overflow: hidden;
  font-size: 1.25rem;
}
.our-services,
.what-we-offer {
  position: relative;
  line-height: 100%;
  font-weight: 600;
  display: none;
}
.our-services {
  font-size: 3.5rem;
  font-family: "Cormorant Garamond";
  color: #191919;
  text-align: center;
  display: inline-block;
  width: 54.31rem;
}
.what-we-offer-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.supporting-text1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 130%;
  font-weight: 500;
}
.heading-and-supporting-text1 {
  align-self: stretch;
  align-items: center;
  text-align: center;
  font-size: 1.75rem;
  color: #191919;
  font-family: "Cormorant Garamond";
}
.container2,
.content3,
.heading-and-supporting-text1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content3 {
  align-self: stretch;
  align-items: center;
  gap: 1.5rem;
}
.container2 {
  width: 80rem;
  align-items: flex-start;
  padding: 0 2rem;
  box-sizing: border-box;
}
.content4 {
  position: absolute;
  top: 1.38rem;
  left: -0.31rem;
  border-radius: 4px;
  background-color: rgba(255, 202, 73, 0.5);
  filter: blur(19px);
  width: 49rem;
  height: 25.69rem;
}
.c8e7e59-a05d-4cb5-917c-4e6349b-icon {
  position: absolute;
  top: calc(50% - 212.5px);
  left: calc(50% - 387px);
  width: 48.38rem;
  height: 26.69rem;
  object-fit: cover;
}
.screen-mockup {
  position: relative;
  background-color: #ffca49;
  width: 48.38rem;
  height: 26.69rem;
}
.tab-line-icon {
  align-self: stretch;
  position: relative;
  border-radius: 2px;
  max-width: 100%;
  overflow: hidden;
  height: 0.25rem;
  flex-shrink: 0;
}
.supporting-text2,
.text4 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.supporting-text2 {
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  line-height: 140%;
  font-weight: 500;
  color: #373737;
}
.text-and-supporting-text {
  align-self: stretch;
  align-items: center;
  gap: 1rem;
}
.content6,
.feature-text,
.tab,
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-text {
  align-self: stretch;
  align-items: center;
}
.content6,
.tab {
  align-items: flex-start;
}
.content6 {
  align-self: stretch;
  padding: 0 1rem;
}
.tab {
  flex: 1;
  gap: 1.5rem;
}
.supporting-text5,
.tab-line-icon3 {
  align-self: stretch;
  position: relative;
}
.tab-line-icon3 {
  max-width: 100%;
  overflow: hidden;
  height: 0.25rem;
  flex-shrink: 0;
}
.supporting-text5 {
  font-size: 1.13rem;
  letter-spacing: 0.01em;
  line-height: 1.5rem;
  font-family: "Playfair Display";
  color: #667085;
}
.tab3,
.text-and-supporting-text3 {
  flex-direction: column;
  justify-content: flex-start;
}
.text-and-supporting-text3 {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tab3 {
  flex: 1;
  display: none;
  align-items: flex-start;
  gap: 1.5rem;
  font-size: 1.75rem;
  color: #101828;
}
.container3,
.content5 {
  display: flex;
  justify-content: flex-start;
}
.content5 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.container3 {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  gap: 3rem;
  text-align: center;
  font-size: 2rem;
  color: #191919;
  font-family: "Cormorant Garamond";
}
.features-section,
.line-pattern-icon {
  position: absolute;
  left: calc(50% - 720px);
}
.features-section {
  top: 241.5rem;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem 0;
  box-sizing: border-box;
  gap: 2.5rem;
  text-align: left;
  font-size: 1.13rem;
  color: #ffca49;
  font-family: "Playfair Display";
}
.line-pattern-icon {
  top: calc(50% - 324px);
  width: 96.75rem;
  height: 96.75rem;
  opacity: 0.1;
}
.take-a-moment {
  margin-block-start: 0;
  margin-block-end: 48px;
}
.heading1 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.la-verita-is {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.supporting-text6 {
  position: relative;
  font-size: 2rem;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 69.38rem;
}
.heading-and-supporting-text2 {
  gap: 1.5rem;
}
.container4,
.content10,
.heading-and-supporting-text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container4 {
  align-items: flex-start;
  padding: 0 2rem;
}
.text8 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.button-base4 {
  align-self: stretch;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  width: 8.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  box-sizing: border-box;
}
.actions,
.container-parent {
  display: flex;
  justify-content: flex-start;
}
.actions {
  border: 1px solid #ffca49;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1.25rem;
  color: #ffca49;
  font-family: Futura;
}
.container-parent {
  position: absolute;
  top: calc(50% - 250.5px);
  left: calc(50% - 586.5px);
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.features-section1,
.line-pattern-icon1 {
  position: absolute;
  left: calc(50% - 720px);
}
.features-section1 {
  top: 306.94rem;
  background-color: #191919;
  width: 90rem;
  height: 40.5rem;
  overflow: hidden;
}
.line-pattern-icon1 {
  top: calc(50% - 1211px);
  width: 165.69rem;
  height: 165.69rem;
  opacity: 0.05;
}
.the-la-verita {
  position: relative;
  line-height: 100%;
  display: none;
}
.crafted-with-precision-container {
  position: relative;
  font-size: 3.5rem;
  letter-spacing: 0.01em;
  line-height: 110%;
  font-weight: 600;
  font-family: "Cormorant Garamond";
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 56.94rem;
}
.the-la-verita-difference-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: #ffca49;
  font-family: "Petit Formal Script";
}
.div2 {
  position: absolute;
  top: calc(50% - 20.5px);
  left: calc(50% - 5.5px);
  line-height: 100%;
}
.featured-icon {
  position: relative;
  border-radius: 28px;
  border: 1px solid #ffca49;
  box-sizing: border-box;
  width: 3.06rem;
  height: 3.06rem;
}
.our-skilled-artisans {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.supporting-text7 {
  align-self: stretch;
  position: relative;
  font-size: 1.75rem;
  letter-spacing: 0.01em;
  line-height: 120%;
}
.heading-and-supporting-text3 {
  align-self: stretch;
  gap: 0.75rem;
  font-size: 2.13rem;
}
.content11,
.heading-and-supporting-text3,
.icon-and-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-and-text {
  align-self: stretch;
  gap: 1.13rem;
}
.content11 {
  flex: 1;
}
.d1dcf588-5f9c-41e0-9cc6-fea46f-icon {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 280px);
  width: 35rem;
  height: 25rem;
  object-fit: cover;
}
.content12 {
  flex: 1;
  position: relative;
  height: 25rem;
}
.container5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  box-sizing: border-box;
  gap: 6rem;
}
.div3,
.div4,
.v {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 11.5px);
  line-height: 100%;
}
.div4,
.v {
  top: calc(50% - 20.5px);
  left: calc(50% - 16.5px);
}
.v {
  top: calc(50% - 19.5px);
  left: calc(50% - 12.5px);
}
.supporting-text10 {
  align-self: stretch;
  position: relative;
  font-size: 1.75rem;
  letter-spacing: 0.01em;
  line-height: 120%;
  font-weight: 500;
  font-family: Cormorant;
}
.container-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  font-size: 2rem;
}
.more-reasons {
  text-decoration: underline;
  color: #ffca49;
}
.more-reasons-why-container {
  position: relative;
  font-size: 2.5rem;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.frame-parent {
  position: absolute;
  top: calc(50% - 1110px);
  left: calc(50% - 640px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.desktop-2 {
  position: absolute;
  top: 56.56rem;
  left: calc(50% - 720px);
  background-color: #191919;
  width: 90rem;
  height: 151.38rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.25rem;
}
.supporting-text11 {
  align-self: stretch;
  position: relative;
  font-size: 1.75rem;
  letter-spacing: 0.01em;
  line-height: 120%;
  font-weight: 500;
}
.actions1 {
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: Futura;
}
.container-container {
  align-items: center;
  gap: 2.5rem;
}
.container-container,
.features-section2,
.heading-and-subheading1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.features-section2 {
  position: absolute;
  top: 207.94rem;
  left: 0;
  background-color: #d9962d;
  width: 100%;
  overflow: hidden;
  align-items: center;
  padding: 5rem 0;
  box-sizing: border-box;
}
.heading-and-subheading1 {
  align-self: stretch;
  align-items: flex-start;
}
.supporting-text12 {
  position: relative;
  font-size: 1.75rem;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: #373737;
  display: inline-block;
  width: 48rem;
}
.heading-and-supporting-text8 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.featured-icon4 {
  position: relative;
  border-radius: 28px;
  width: 3.5rem;
  height: 3.5rem;
}
.supporting-text13,
.text10 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
}
.text10 {
  line-height: 1.88rem;
  font-weight: 600;
}
.supporting-text13 {
  font-size: 1.25rem;
  line-height: 110%;
  font-weight: 500;
  color: #373737;
}
.text11 {
  position: relative;
  text-decoration: underline;
  line-height: 1.5rem;
  font-weight: 600;
}
.button4,
.contact-text,
.content21 {
  display: flex;
  justify-content: flex-start;
}
.button4 {
  flex-direction: row;
  align-items: flex-start;
  font-size: 1.25rem;
}
.contact-text,
.content21 {
  width: 32.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.content21 {
  width: 76rem;
  height: 13.44rem;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.social-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.social-icon,
.social-icon3 {
  position: relative;
  width: 2rem;
  height: 2rem;
}
.content22,
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.social-icons {
  gap: 3.13rem;
}
.content22 {
  align-self: stretch;
}
.contact-page-header,
.container10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 2rem;
}
.contact-page-header {
  position: absolute;
  top: 347.44rem;
  left: calc(50% - 720px);
  background-color: #f9fafb;
  width: 90rem;
  overflow: hidden;
  align-items: center;
  padding: 5rem 0 6rem;
  box-sizing: border-box;
  gap: 3rem;
  color: #101828;
}
.group-icon {
  position: relative;
  width: 10rem;
  height: 4.95rem;
}
.text14 {
  position: relative;
  line-height: 1.5rem;
  font-weight: 500;
}
.content23,
.footer-link,
.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content23,
.footer-links {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.content23 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: #eaecf0;
  height: 0.06rem;
}
.footer-text {
  flex: 1;
  position: relative;
  line-height: 1.5rem;
  font-weight: 500;
}
.footer-links1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.container12,
.content24,
.footer {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.content24 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.container12,
.footer {
  width: 80rem;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
  box-sizing: border-box;
  font-size: 1rem;
  color: #98a2b3;
}
.footer {
  position: absolute;
  top: 389.31rem;
  left: calc(50% - 720px);
  background-color: #fff;
  width: 90rem;
  align-items: center;
  padding: 4rem 0 3rem;
  gap: 4rem;
  text-align: left;
  font-size: 1.13rem;
  color: #667085;
  font-family: Futura;
}
.landing-page {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 412.31rem;
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
  font-family: "Cormorant Garamond";
}
